{{^isArray}}
val adapter = moshi.adapter({{dataType}}::class.java)
{{/isArray}}
{{#isArray}}
val type = (Types.newParameterizedType(List::class.java, {{dataType}}::class.java))
val adapter: JsonAdapter<List<{{dataType}}>> = moshi.adapter(type)
{{/isArray}}