{{^returnContainer}}
val adapter = moshi.adapter({{returnType}}::class.java)
{{/returnContainer}}
{{#isArray}}
val type = (Types.newParameterizedType(List::class.java, {{returnType}}::class.java))
val adapter: JsonAdapter<List<{{returnType}}>> = moshi.adapter(type)
{{/isArray}}