{{#minLength}}.min({{minLength}}){{/minLength}}{{#minimum}}.min({{minimum}}){{/minimum}}{{#maxLength}}.max({{maxLength}}){{/maxLength}}{{#maximum}}.max({{maximum}}){{/maximum}}{{#pattern}}.format("{{pattern}}"){{/pattern}}