{{#isFloat}}FloatBuilder{{/isFloat}}{{#isDouble}}DoubleBuilder{{/isDouble}}{{#isNumber}}BigDecimalBuilder{{/isNumber}}{{#isDateTime}}OffsetDateTimeBuilder{{/isDateTime}}{{#isDate}}LocalDateBuilder{{/isDate}}{{#isModel}}{{dataType}}Builder{{/isModel}}{{#isString}}StringBuilder{{/isString}}{{#isLong}}LongBuilder{{/isLong}}{{#isInteger}}IntBuilder{{/isInteger}}{{>dsl-builder-type-enum}}{{>dsl-builder-type-array}}