{{^isInteger}}{{^isString}}{{^isNumber}}{{^isDateTime}}{{^isDate}}{{^isPrimitiveType}}{{^isModel}}{{^isContainer}}{{^isFreeFormObject}}{{dataType}}Builder{{/isFreeFormObject}}{{/isContainer}}{{/isModel}}{{/isPrimitiveType}}{{/isDate}}{{/isDateTime}}{{/isNumber}}{{/isString}}{{/isInteger}}