package {{package}}

import com.squareup.moshi.Json
import io.github.stefankoppier.builder.dsl.*
import io.github.stefankoppier.builder.dsl.containers.*
import io.github.stefankoppier.builder.dsl.primitives.*

import java.math.BigDecimal
import java.util.UUID
import java.net.URI
import java.io.File
import java.time.LocalDate
import java.sql.Timestamp
import java.time.OffsetDateTime
import java.time.LocalDateTime
import java.time.LocalTime

{{#imports}}
import {{import}}
{{/imports}}
{{#models}}
{{#model}}
{{#isEnum}}{{>model-enum}}{{/isEnum}}
{{^isEnum}}{{>model-object}}{{/isEnum}}
{{/model}}
{{/models}}