enum class {{classname}}(val value: String) {
    {{#allowableValues}}
    {{#enumVars}}
    @Json(name = "{{name}}") {{name}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
    {{/enumVars}}
    {{/allowableValues}}

    companion object {
        fun of(transform: {{classname}}Builder.() -> {{classname}}Builder = { {{classname}}Builder() }): {{classname}} {
            return transform({{classname}}Builder())()
        }
    }

    override fun toString(): String {
        return value
    }
}

class {{classname}}Builder: EnumBuilder<{{classname}}, {{classname}}Builder>() {

    override fun allValues(): Array<{{classname}}> {
        return {{classname}}.values()
    }
}
