package {{apiPackage}}.internal

import com.github.tomakehurst.wiremock.client.*
import com.github.tomakehurst.wiremock.client.WireMock.*
import com.squareup.moshi.*
import com.squareup.moshi.kotlin.reflect.KotlinJsonAdapterFactory
import java.math.BigDecimal
import java.net.URI
import java.time.LocalDate
import java.time.OffsetDateTime

abstract class AbstractStubBuilder(protected val stub: MappingBuilder) {
    protected val moshi: Moshi = Moshi.Builder()
        .add(KotlinJsonAdapterFactory())
        .add(BigDecimal::class.java, BigDecimalAdapter())
        .add(LocalDate::class.java, LocalDateAdapter())
        .add(OffsetDateTime::class.java, OffsetDateTimeAdapter())
        .add(URI::class.java, URIAdapter())
        .build()

    /**
     * Inject the stub in WireMock using [code] as the http response code.
     *
     * @param code The http response code.
     */
    fun status(code: Int) {
        stubFor(stub.willReturn(WireMock.status(code)))
    }

    /**
     * Inject the [builder] in WireMock.
     *
     * @param builder The stub to inject.
     */
    fun response(builder: ResponseDefinitionBuilder) {
        stubFor(stub.willReturn(builder))
    }
}